#editor {
    /** Setting height is also important, otherwise editor wont showup**/
    height: 600px;
}

.navbar {
    border-bottom:1px solid red;
}

.nav-tabs .nav-item .nav-link {
    text-decoration: none;
    color: rgba(0,0,0,.9);
}

.nav-tabs .nav-link.active {
    border-top:1px solid red;
}
