#filetree {height: 500px;}
#editor {height: 500px;}
#graphs {height: 500px;}

.navbar {
    border-bottom:1px solid red;
}

.nav-tabs .nav-item .nav-link {
    text-decoration: none;
    color: rgba(0,0,0,.9);
}

.nav-tabs .nav-link.active {
    border-top:1px solid red;
}

.gutter-2.row {
    margin-right: -5px;
    margin-left: -5px;
  }
.gutter-2 > [class^="col-"], .gutter-2 > [class^=" col-"] {
    padding-right: 5px;
    padding-left: 5px;
}
